.Header{
    z-index: 9;
    padding: 25px 0;
    a{
        font-size: 14px;
        line-height: 16px;
        color: rgb(25 24 37 / 50%);
        font-weight: 700; 
    }
  

}
.RightNavbarLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
}
.RightNavbarLink a {
    color: #222831;
    font-weight: 700;
    &:last-child{
        background-color: #5D50C6;
        width: 116px;
        height: 50px;
        border-radius: 32px;
        color: #EEEEEE !important;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        list-style: 16px;
        font-weight: 700;
    }
}
.CstmNav{
    padding-left: 150px;
   & > a{
        padding-right: 50px !important;
    }
}
.FooterInnerblk {
    text-align: left;
    max-width: 278px;
    p{
        font-size: 23px;
        line-height: 36px;
        color: rgb(25 24 37 / 50%);
        font-weight: 900;
        text-align: left;
     
    }
    a, span{
        font-size: 18px;
        line-height: 28px;
        color: rgb(25 24 37 / 75%);
        font-weight: 400;
        text-align: left;
        margin-bottom: 25px;   display: block;
    
    }
    h4{
        font-size: 23px;
        line-height: 27px;
        color: #191825;
        font-weight: 700;
        text-align: left;
        margin-bottom: 30px;
    }
    ul{
        display: flex;
        flex-direction: row;
        padding: 0;
        li{margin-right: 35px;}

    }
}
.Ftlastclm{
    display: flex;
    flex-direction: row;
    justify-content: end;
}


.Footersection{
    position: relative;
    .FootersectionRightimg{
        position: absolute;
        right: 0;
        top: -270px;
    }
}
@media only screen and (min-width:320px) and (max-width:767px) {
    .Header{padding-top: 0 !important;padding-right: 20px !important;}
    .Header a{text-align: left;padding: 20px !important;}
    .CstmNav{padding-left: 0px !important;}
    .CstmNav > a {
        padding-right: 0px !important;
        text-align: left;
      }
      .Ftlastclm{justify-content: flex-start;}
      .Footersection{
        .container{
            .row{
                & > div{
                    padding: 10px !important;
                }
            }
        }
      }
    
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .CstmNav{padding-left: 10% !important;}
    .CstmNav > a {
        padding-right: 10px !important;
      }
      .Ftlastclm{justify-content: flex-start;}
      .Footersection{
        .container{
            .row{
                & > div{
                    width: 50%;
                    padding: 10px !important;
                }
            }
        }
      }
    
}